<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.precursor.hrsystem.mvc.hrlist.a03_dao.HrListDao">

	<select id="getHrList" resultType="HrListTestVO" parameterType="HrListTestVO">
		select im_key, im_user_name_kr, im_user_name_en, im_user_rank, im_dept, im_hire_date, birymd
		from human_resource
		order by im_key asc
	</select>
	
	<!-- 회원 정보 SQL (페이징 처리)
	<select id="getMemberList" resultType="member" parameterType="member">
		select *
		from pmsmember
		where name like '%' || #{name} || '%'
		ORDER BY MEM_NUM asc
	</select>
	-->
	
	
	<!-- 
	<insert id="getHrList" parameterType="HrListTest">
    <selectKey order="BEFORE" keyProperty="IM_KEY" resultType="int">
        select 
            to_number(to_char(sysdate,'YYMMDD') || nvl(to_char(max(substr(IM_KEY,7))),'0000'))+1
        from
            HUMAN_RESOURCE
         where
            to_char(sales_date,'YYYYMMDD') = to_char(sysdate,'YYYYMMDD')
    </selectKey>
    insert
        into STSBOOT.HUMAN_RESOURCE
            (IM_KEY, IM_USER_ID, IM_USER_NAME_KR, IM_USER_NAME_EN, IM_USER_RANK, IM_DEPT, IM_USER_MAIL, IM_PHONE_NUM, IM_HIRE_DATE, IM_UPDATE, IM_USER_PW, IM_FLAG, IM_STATUS, ERCO_YMD, RTRM_YMD, BIRYMD)
        values
            (#{IM_KEY}, #{IM_USER_ID}, #{IM_USER_NAME_KR}, #{IM_USER_NAME_EN}, #{IM_USER_RANK}, #{IM_DEPT}, #{IM_USER_MAIL}, #{IM_PHONE_NUM}, #{IM_HIRE_DATE}, #{IM_UPDATE}, #{IM_USER_PW}, #{IM_FLAG}, #{IM_STATUS}, #{ERCO_YMD}, #{RTRM_YMD}, #{BIRYMD})
	</insert>
	 -->
	
</mapper>